<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Travel Adventure</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/aboutus.css">
</head>

<body>
    <div class="banner">
        <div class="info">
            <h3>About us</h3>
            <p>"Embark on a journey with us, where every adventure is a story waiting to be written."</p>
        </div>
    </div>
    <div class="info2">
        <img src="/images/priscilla-du-preez-XkKCui44iM0-unsplash.jpg" id="hrteam_img" alt="">
        <div class="hrteam_info">
            <h5>Welcome</h5>
            <p>
                Our team at TravelEase is a dynamic group of seasoned travelers and industry experts united
                by a shared passion for exploration. Meet our knowledgeable travel enthusiasts, each equipped with a
                wealth
                of experience and a deep understanding of diverse cultures.
            </p>
            <br>
            <p>
                Discover the faces behind the scenes who meticulously plan your adventures, ensuring every detail is
                thoughtfully considered.Behind the scenes, our creative minds work tirelessly to design visually stunning itineraries and captivating content that inspires your wanderlust.
            </p>
        </div>
    </div>
    <div class="get_started">
        <p>Begin your journey here.</p>
        <button id="get_started_btn" type="button">Get Started</button>
    </div>
    <footer>
        contact
    </footer>
</body>

</html>