<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/comparision.css">
</head>

<body>
    <div class="container">
        <h1>Compare Your Generated Itineraries Here.</h1>
        <div class="comp">
            <div class="card">
                <div class="heading">
                    <h2>Previous Generation</h2>
                    <hr>
                </div>
                <div class="card-content">
                    <h3>New Delhi</h3>
                    <p id="act-head">Activities</p>
                    <p><span id="day-no">Day 1 : </span>Explore the historic Red Fort in Old Delhi, marveling at its stunning architecture and rich
                        history.</p>
                    <p><span id="day-no">Day 1 : </span>
                        Wander through the bustling streets of Chandni Chowk in Old Delhi, indulging in street food and
                        shopping for traditional goods.
                    </p>
                    <p><span id="day-no">Day 1 : </span>
                        Visit India Gate and take a leisurely stroll in the surrounding lush lawns of Rajpath in Central
                        Delhi.
                    </p>
                    <p>
                        <span id="day-no">Day 1 : </span>
                        Experience spiritual serenity at the Lotus Temple in South Delhi, renowned for its distinctive
                        lotus-shaped architecture and tranquil atmosphere.
                    </p>
                    <p><span id="day-no">Day 1 : </span>
                        Discover the vibrant contemporary art scene at the Kiran Nadar Museum of Art in Saket, South
                        Delhi.</p>
                    </p>
                    <button>Read more</button>
                </div>
            </div>
            <div class="card">
                <div class="heading">
                    <h2>Current Generation</h2>
                    <hr>
                </div>
                <div class="card-content">
                    <h3>New Delhi</h3>
                    <p id="act-head">Activities</p>
                    <p><span id="day-no">Day 1 : </span>
                        Explore the historic Red Fort in Old Delhi, marveling at its stunning architecture and rich
                        history.</p>
                    <p><span id="day-no">Day 1 : </span>
                        Wander through the bustling streets of Chandni Chowk in Old Delhi, indulging in street food and
                        shopping for traditional goods.
                    </p>
                    <p><span id="day-no">Day 1 : </span>
                        Visit India Gate and take a leisurely stroll in the surrounding lush lawns of Rajpath in Central
                        Delhi.

                    </p>
                    <p>
                        <span id="day-no">Day 1 : </span>
                        Experience spiritual serenity at the Lotus Temple in South Delhi, renowned for its distinctive
                        lotus-shaped architecture and tranquil atmosphere.
                    </p>
                    <p>
                        <span id="day-no">Day 1 : </span>
                        Discover the vibrant contemporary art scene at the Kiran Nadar Museum of Art in Saket, South
                        Delhi.</p>
                    </p>
                    <button >Read more</button>

                </div>
            </div>
        </div>
    </div>
</body>

</html>