<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/compactview.css">
</head>

<body>

    <body>
        <div class=container>
            <h1>First Generation</h1>
            <!-- <h3>Miami</h3> -->
            <div class=card>
                <div class=image>
                    <img href="#" src="/images/1.png">
                </div>
                <div class=content>
                    <h3>Location</h3>
                    <h4>Activities to Do</h4>
                    <ul>
                        <li>one</li>
                        <li>two</li>
                        <li>three</li>
                    </ul>
                </div>
            </div>
            <div class=card>
                <div class=image>
                    <img href="#" src="/images/2.png">
                </div>
                <div class=content>
                    <h3>Location</h3>
                    <h4>Activities to Do</h4>
                    <ul>
                        <li>one</li>
                        <li>two</li>
                        <li>three</li>
                    </ul>
                </div>
            </div>
            <div class=card>
                <div class=image>
                    <img href="#" src="/images/3.png">
                </div>
                <div class=content>
                    <h3>Location</h3>
                    <h4>Activities to Do</h4>
                    <ul>
                        <li>one</li>
                        <li>two</li>
                        <li>three</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</body>

</html>