<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Travel Ease</title>
  <!-- <link rel="stylesheet" href="/css/review slider/swiper-bundle.min.css" /> -->

  <link rel="stylesheet" href="/css/home.css" />
</head>

<body>
  <div class="container1">
    <%-include('partials/nav') %>
      <div class="banner">
        <div class="banner_info">
          <div class="banner_title">
            <hr />
            <p>TravelEase</p>
          </div>
          <h3>An AI Powered Itinerary Generator</h3>
          <p>
            An itinerary generator that uses AI to create a personalized
            itinerary for your trip.
          </p>
          <div class="banner_buttons">
                  <button onclick="scrollDown('gen')">Get Started</button>
          </div>
        </div>
      </div>
  </div>
  <div class="services">
    <div class="services-heading">
      <h3>Our Services</h3>
    </div>
    <div class="services-cards">
      <div class="service-card">
        <svg viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
              <path
              d="M4 5.25C4 3.45508 5.45507 2 7.25 2H20.75C22.5449 2 24 3.45507 24 5.25V17.3787C23.8796 17.4592 23.7653 17.5527 23.659 17.659L22.5 18.818V5.25C22.5 4.2835 21.7165 3.5 20.75 3.5H7.25C6.2835 3.5 5.5 4.2835 5.5 5.25V22.7497C5.5 23.7162 6.2835 24.4997 7.25 24.4997H15.3177L16.8177 25.9997H7.25C5.45507 25.9997 4 24.5446 4 22.7497V5.25Z"
                  fill="#212121"></path>
              <path
              d="M10.5 8.75C10.5 9.44036 9.94036 10 9.25 10C8.55964 10 8 9.44036 8 8.75C8 8.05964 8.55964 7.5 9.25 7.5C9.94036 7.5 10.5 8.05964 10.5 8.75Z"
              fill="#212121"></path>
              <path
              d="M9.25 15.2498C9.94036 15.2498 10.5 14.6902 10.5 13.9998C10.5 13.3095 9.94036 12.7498 9.25 12.7498C8.55964 12.7498 8 13.3095 8 13.9998C8 14.6902 8.55964 15.2498 9.25 15.2498Z"
              fill="#212121"></path>
              <path
              d="M9.25 20.5C9.94036 20.5 10.5 19.9404 10.5 19.25C10.5 18.5596 9.94036 18 9.25 18C8.55964 18 8 18.5596 8 19.25C8 19.9404 8.55964 20.5 9.25 20.5Z"
              fill="#212121"></path>
              <path
                  d="M12.75 8C12.3358 8 12 8.33579 12 8.75C12 9.16421 12.3358 9.5 12.75 9.5H19.25C19.6642 9.5 20 9.16421 20 8.75C20 8.33579 19.6642 8 19.25 8H12.75Z"
                  fill="#212121"></path>
              <path
              d="M12 13.9998C12 13.5856 12.3358 13.2498 12.75 13.2498H19.25C19.6642 13.2498 20 13.5856 20 13.9998C20 14.414 19.6642 14.7498 19.25 14.7498H12.75C12.3358 14.7498 12 14.414 12 13.9998Z"
              fill="#212121"></path>
              <path
              d="M12.75 18.5C12.3358 18.5 12 18.8358 12 19.25C12 19.6642 12.3358 20 12.75 20H19.25C19.6642 20 20 19.6642 20 19.25C20 18.8358 19.6642 18.5 19.25 18.5H12.75Z"
              fill="#212121"></path>
              <path
              d="M25.7803 19.7803L19.7803 25.7803C19.6397 25.921 19.4489 26 19.25 26C19.0511 26 18.8603 25.921 18.7197 25.7803L15.7216 22.7823C15.4287 22.4894 15.4287 22.0145 15.7216 21.7216C16.0145 21.4287 16.4894 21.4287 16.7823 21.7216L19.25 24.1893L24.7197 18.7197C25.0126 18.4268 25.4874 18.4268 25.7803 18.7197C26.0732 19.0126 26.0732 19.4874 25.7803 19.7803Z"
              fill="#212121"></path>
          </g>
        </svg>
        <div class="service-card-info">
          <h4>Itinerary Generation</h4>
          <p> We generate customized itineraries based on your preferences making your trip planning hassle-free.</p>
        </div>
      </div>
      <div class="service-card">
        <svg viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                      <title>ai</title>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="icon" fill="#000000" transform="translate(64.000000, 64.000000)">
                              <path
                              d="M320,64 L320,320 L64,320 L64,64 L320,64 Z M171.749388,128 L146.817842,128 L99.4840387,256 L121.976629,256 L130.913039,230.977 L187.575039,230.977 L196.319607,256 L220.167172,256 L171.749388,128 Z M260.093778,128 L237.691519,128 L237.691519,256 L260.093778,256 L260.093778,128 Z M159.094727,149.47526 L181.409039,213.333 L137.135039,213.333 L159.094727,149.47526 Z M341.333333,256 L384,256 L384,298.666667 L341.333333,298.666667 L341.333333,256 Z M85.3333333,341.333333 L128,341.333333 L128,384 L85.3333333,384 L85.3333333,341.333333 Z M170.666667,341.333333 L213.333333,341.333333 L213.333333,384 L170.666667,384 L170.666667,341.333333 Z M85.3333333,0 L128,0 L128,42.6666667 L85.3333333,42.6666667 L85.3333333,0 Z M256,341.333333 L298.666667,341.333333 L298.666667,384 L256,384 L256,341.333333 Z M170.666667,0 L213.333333,0 L213.333333,42.6666667 L170.666667,42.6666667 L170.666667,0 Z M256,0 L298.666667,0 L298.666667,42.6666667 L256,42.6666667 L256,0 Z M341.333333,170.666667 L384,170.666667 L384,213.333333 L341.333333,213.333333 L341.333333,170.666667 Z M0,256 L42.6666667,256 L42.6666667,298.666667 L0,298.666667 L0,256 Z M341.333333,85.3333333 L384,85.3333333 L384,128 L341.333333,128 L341.333333,85.3333333 Z M0,170.666667 L42.6666667,170.666667 L42.6666667,213.333333 L0,213.333333 L0,170.666667 Z M0,85.3333333 L42.6666667,85.3333333 L42.6666667,128 L0,128 L0,85.3333333 Z"
                              id="Combined-Shape"> </path>
                            </g>
                          </g>
                        </g>
                      </svg>
                      <div class="service-card-info">
                        <h4>AI-Driven Itinerary Planning</h4>
                        <p>We utilize AI to generate personalized itineraries,ensuring a seamless travel planning experience.</p>
                      </div>
                    </div>
                    <div class="service-card">
                      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path opacity="0.4" d="M6 6.25V8.25" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round"></path>
              <path d="M22 12V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22H12" stroke="#292D32"
              stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              <path opacity="0.4" d="M10 6.25V8.25" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round"></path>
              <path opacity="0.4" d="M6 16V18" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round"></path>
              <path opacity="0.4" d="M10 16V18" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round"></path>
              <path opacity="0.4" d="M14 7.25H18" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round"></path>
              <path d="M2 12H22" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round"></path>
              <path
              d="M21.5604 20.33C21.0004 21.3 19.9504 21.95 18.7504 21.95C16.9604 21.95 15.8604 20.15 15.8604 20.15M15.9304 17.09C16.4904 16.11 17.5404 15.46 18.7504 15.46C20.9204 15.46 22.0004 17.26 22.0004 17.26M22.0004 15.25V17.25H20.0004M17.8604 20.14H15.8604V22"
              stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          </g>
        </svg>
        <div class="service-card-info">
          <h4>Real-time Updates</h4>
          <p>Get real-time on your travel arrangements, ensuring flexibility and peace of mind throughout your journey.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container2" id="gen">
    <h4 style="text-shadow: 4px 4px 4px black">
      Too tired to plan? Let us help you out!
    </h4>
    <a href="/itinerary"><button>Generate Itinerary</button></a>
  </div>
  <div class="fam-places">
    <div class="fam-places-heading">
      <h3>Famous Places</h3>
      <p>Here are some Pre-made Itineraries For you to choose from</p>
    </div>
    <div class="fam-places-cards">
      <div class="fam-places-card">
        <img src="/images/greece.jpg" alt="" />
        <div class="fam-places-card-info">
          <h5>Santorini</h5>
          <p>Greece</p>
          <div class="fam-places-card-info-review">
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <p>Reviews( <span>20</span> )</p>
            <i
              class="fa-regular fa-clock-nine f-sm"
              style="color: #91a8cf"
            ></i>
          </div>
        </div>
      </div>
      <div class="fam-places-card">
        <img src="/images/greece.jpg" alt="" />
        <div class="fam-places-card-info">
          <h5>Santorini</h5>
          <p>Greece</p>
          <div class="fam-places-card-info-review">
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <p>Reviews( <span>20</span> )</p>
            <i
              class="fa-regular fa-clock-nine f-sm"
              style="color: #91a8cf"
            ></i>
          </div>
        </div>
      </div>
      <div class="fam-places-card">
        <img src="/images/greece.jpg" alt="" />
        <div class="fam-places-card-info">
          <h5>Santorini</h5>
          <p>Greece</p>
          <div class="fam-places-card-info-review">
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <p>Reviews( <span>20</span> )</p>
            <i
              class="fa-regular fa-clock-nine f-sm"
              style="color: #91a8cf"
            ></i>
          </div>
        </div>
      </div>
      <div class="fam-places-card">
        <img src="/images/greece.jpg" alt="" />
        <div class="fam-places-card-info">
          <h5>Santorini</h5>
          <p>Greece</p>
          <div class="fam-places-card-info-review">
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <p>Reviews( <span>20</span> )</p>
            <i
              class="fa-regular fa-clock-nine f-sm"
              style="color: #91a8cf"
            ></i>
          </div>
        </div>
      </div>
      <div class="fam-places-card">
        <img src="/images/greece.jpg" alt="" />
        <div class="fam-places-card-info">
          <h5>Santorini</h5>
          <p>Greece</p>
          <div class="fam-places-card-info-review">
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <p>Reviews( <span>20</span> )</p>
            <i
              class="fa-regular fa-clock-nine f-sm"
              style="color: #91a8cf"
            ></i>
          </div>
        </div>
      </div>
      <div class="fam-places-card">
        <img src="/images/greece.jpg" alt="" />
        <div class="fam-places-card-info">
          <h5>Santorini</h5>
          <p>Greece</p>
          <div class="fam-places-card-info-review">
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            <p>Reviews( <span>20</span> )</p>
            <i
              class="fa-regular fa-clock-nine f-sm"
              style="color: #91a8cf"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/footer') %>
  <script>
      function scrollDown(id) {
        var element = document.getElementById(id);
        element.scrollIntoView({ behavior: "smooth" });
      }
    </script>
        
    

    
    <script
      src="https://kit.fontawesome.com/9de8cce034.js"
      crossorigin="anonymous"
    ></script>   
</body>

</html>