<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <h1>Hello <%= name %></h1>
    <p>Welcome to the homepage</p><br>
    <a href="/about">About Us</a>
    <a href="/auth">Login</a>
    <a href="/auth/logout">Logout</a>
  </body>
</html>