<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iternary</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/itinerary.css">
</head>

<body>
    <div class="parent">
        <div class="banner_img">
            <div class="nav">
                <a href="" id="Home">Home</a>
                <a href="">Contact Us</a>
                <a href="">About Us</a>
            </div>
            <p id="date">15TH</p>
            <p id="month">October</p>
        </div>
    </div>
    <div class="nav2">
        <a href="">Restaurants</a>
        <a href="">Activities</a>
        <a href="">Accomodations</a>
        <a href="">Tourist Attractions</a>
    </div>
    <div class="container2">
        <div class="restaurant-container">
            <img src="/images/carolina-marinelli-PkbyxvkGWcU-unsplash.jpg" alt="Restaurant Image" class="restaurant-image">
            <div class="restaurant-info">
                <div class="restaurant-name">Fantastic Eats</div>
                <div class="restaurant-review">4.5 stars - (120 reviews)</div>
                <div class="restaurant-location">123 Main Street, Cityville</div>
                <svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg"
                fill="#000000">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path
                        d="M512 1024C229.7 1024 0 794.3 0 512S229.7 0 512 0s512 229.7 512 512-229.7 512-512 512z m0-938.7C276.7 85.3 85.3 276.7 85.3 512S276.7 938.7 512 938.7 938.7 747.3 938.7 512 747.3 85.3 512 85.3z"
                        fill="#000000"></path>
                    <path
                        d="M682.7 554.7H341.3c-23.6 0-42.7-19.1-42.7-42.7s19.1-42.7 42.7-42.7h341.3c23.6 0 42.7 19.1 42.7 42.7s-19.1 42.7-42.6 42.7z"
                        fill="#000000"></path>
                    <path
                        d="M512 725.3c-23.6 0-42.7-19.1-42.7-42.7V341.3c0-23.6 19.1-42.7 42.7-42.7s42.7 19.1 42.7 42.7v341.3c0 23.6-19.1 42.7-42.7 42.7z"
                        fill="#000000"></path>
                </g>
            </svg>
            </div>
            <div class="price-container">
                <div class="price">
                    <p>From <b> 23000</b> </p>
                </div>
            </div>
        </div>
        <div class="restaurant-container">
            <img src="/images/carolina-marinelli-PkbyxvkGWcU-unsplash.jpg" alt="Restaurant Image" class="restaurant-image">
            <div class="restaurant-info">
                <div class="restaurant-name">Fantastic Eats</div>
                <div class="restaurant-review">4.5 stars - (120 reviews)</div>
                <div class="restaurant-location">123 Main Street, Cityville</div>
                <svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg"
                fill="#000000">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path
                        d="M512 1024C229.7 1024 0 794.3 0 512S229.7 0 512 0s512 229.7 512 512-229.7 512-512 512z m0-938.7C276.7 85.3 85.3 276.7 85.3 512S276.7 938.7 512 938.7 938.7 747.3 938.7 512 747.3 85.3 512 85.3z"
                        fill="#000000"></path>
                    <path
                        d="M682.7 554.7H341.3c-23.6 0-42.7-19.1-42.7-42.7s19.1-42.7 42.7-42.7h341.3c23.6 0 42.7 19.1 42.7 42.7s-19.1 42.7-42.6 42.7z"
                        fill="#000000"></path>
                    <path
                        d="M512 725.3c-23.6 0-42.7-19.1-42.7-42.7V341.3c0-23.6 19.1-42.7 42.7-42.7s42.7 19.1 42.7 42.7v341.3c0 23.6-19.1 42.7-42.7 42.7z"
                        fill="#000000"></path>
                </g>
            </svg>
            </div>
            <div class="price-container">
                <div class="price">
                    <p>From <b> 23000</b> </p>
                </div>
            </div>
        </div>
        <div class="restaurant-container">
            <img src="/images/carolina-marinelli-PkbyxvkGWcU-unsplash.jpg" alt="Restaurant Image" class="restaurant-image">
            <div class="restaurant-info">
                <div class="restaurant-name">Fantastic Eats</div>
                <div class="restaurant-review">4.5 stars - (120 reviews)</div>
                <div class="restaurant-location">123 Main Street, Cityville</div>
                <svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg"
                fill="#000000">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path
                        d="M512 1024C229.7 1024 0 794.3 0 512S229.7 0 512 0s512 229.7 512 512-229.7 512-512 512z m0-938.7C276.7 85.3 85.3 276.7 85.3 512S276.7 938.7 512 938.7 938.7 747.3 938.7 512 747.3 85.3 512 85.3z"
                        fill="#000000"></path>
                    <path
                        d="M682.7 554.7H341.3c-23.6 0-42.7-19.1-42.7-42.7s19.1-42.7 42.7-42.7h341.3c23.6 0 42.7 19.1 42.7 42.7s-19.1 42.7-42.6 42.7z"
                        fill="#000000"></path>
                    <path
                        d="M512 725.3c-23.6 0-42.7-19.1-42.7-42.7V341.3c0-23.6 19.1-42.7 42.7-42.7s42.7 19.1 42.7 42.7v341.3c0 23.6-19.1 42.7-42.7 42.7z"
                        fill="#000000"></path>
                </g>
            </svg>
            </div>
            <div class="price-container">
                <div class="price">
                    <p>From <b> 23000</b> </p>
                </div>
            </div>
        </div>
        <div class="restaurant-container">
            <img src="/images/carolina-marinelli-PkbyxvkGWcU-unsplash.jpg" alt="Restaurant Image" class="restaurant-image">
            <div class="restaurant-info">
                <div class="restaurant-name">Fantastic Eats</div>
                <div class="restaurant-review">4.5 stars - (120 reviews)</div>
                <div class="restaurant-location">123 Main Street, Cityville</div>
                <svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg"
                fill="#000000">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path
                        d="M512 1024C229.7 1024 0 794.3 0 512S229.7 0 512 0s512 229.7 512 512-229.7 512-512 512z m0-938.7C276.7 85.3 85.3 276.7 85.3 512S276.7 938.7 512 938.7 938.7 747.3 938.7 512 747.3 85.3 512 85.3z"
                        fill="#000000"></path>
                    <path
                        d="M682.7 554.7H341.3c-23.6 0-42.7-19.1-42.7-42.7s19.1-42.7 42.7-42.7h341.3c23.6 0 42.7 19.1 42.7 42.7s-19.1 42.7-42.6 42.7z"
                        fill="#000000"></path>
                    <path
                        d="M512 725.3c-23.6 0-42.7-19.1-42.7-42.7V341.3c0-23.6 19.1-42.7 42.7-42.7s42.7 19.1 42.7 42.7v341.3c0 23.6-19.1 42.7-42.7 42.7z"
                        fill="#000000"></path>
                </g>
            </svg>
            </div>
            <div class="price-container">
                <div class="price">
                    <p>From <b> 23000</b> </p>
                </div>
            </div>
        </div>
        <div class="restaurant-container">
            <img src="/images/carolina-marinelli-PkbyxvkGWcU-unsplash.jpg" alt="Restaurant Image" class="restaurant-image">
            <div class="restaurant-info">
                <div class="restaurant-name">Fantastic Eats</div>
                <div class="restaurant-review">4.5 stars - (120 reviews)</div>
                <div class="restaurant-location">123 Main Street, Cityville</div>
                
                    <svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        fill="#000000">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path
                                d="M512 1024C229.7 1024 0 794.3 0 512S229.7 0 512 0s512 229.7 512 512-229.7 512-512 512z m0-938.7C276.7 85.3 85.3 276.7 85.3 512S276.7 938.7 512 938.7 938.7 747.3 938.7 512 747.3 85.3 512 85.3z"
                                fill="#000000"></path>
                            <path
                                d="M682.7 554.7H341.3c-23.6 0-42.7-19.1-42.7-42.7s19.1-42.7 42.7-42.7h341.3c23.6 0 42.7 19.1 42.7 42.7s-19.1 42.7-42.6 42.7z"
                                fill="#000000"></path>
                            <path
                                d="M512 725.3c-23.6 0-42.7-19.1-42.7-42.7V341.3c0-23.6 19.1-42.7 42.7-42.7s42.7 19.1 42.7 42.7v341.3c0 23.6-19.1 42.7-42.7 42.7z"
                                fill="#000000"></path>
                        </g>
                    </svg>
            </div>
            <div class="price-container">
                <div class="price">
                    <p>From <b> 23000</b> </p>
                </div>
            </div>
        </div>

    </div>
</body>

</html>