<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TravelEase - Authentication Portal</title>
  <link rel="stylesheet" href="/css/login-signup.css">
</head>

<body>
  <div class="container">
    <div class="svg1">
      <%- include('./svgs/paper-plane.svg') %>
    </div>
    <div class="svg2">
      <%- include('./svgs/globe-marker.svg') %>
    </div>
    <div class="slider"></div>
    <div class="btn">
      <button class="login txt-white">Login</button>
      <button class="signup">Signup</button>
    </div>
    <% if (error) { %>
      <div class="error">
        <p>
          <%= error %>
        </p>
      </div>
      <% } %>
        <div class="form-section">
          <div class="login-box">
            <form class="login-box" action="/auth/login" method="post">
              <input type="email" class="email ele" name="email" id="login-email" placeholder="user@travelease.com"
                required>
              <input type="password" class="password ele" name="pass" id="login-password" placeholder="password" required>
              <button type="button" id="login-pass" style="right: 575px" class="view-pass">&#x1F441;</button>
              <button type="submit" id="login" class="clkbtn txt-white">Login</button>
            </form>
          </div>
          <div class="signup-box">
            <form class="signup-box" action="/auth/signup" method="post">
              <input type="text" class="name ele" name="name" id="fullName" placeholder="Your full name" required>
              <input type="email" class="email ele" name="email" id="email" placeholder="user@travelease.com" required>
              <input type="password" class="password ele" name="pass" id="password" placeholder="password" required>
              <button type="button" id="signup-pass" class="view-pass">&#x1F441;</button>
              <input type="password" class="password ele" name="confirmPass" id="confirmPassword"
                placeholder="Confirm password" required>
              <button type="button" id="signup-pass-confirm" style="top: 68% !important"
                class="view-pass">&#x1F441;</button>
              <button type="submit" id="signup" class="clkbtn txt-white">Signup</button>
            </form>
          </div>
        </div>
  </div>
  <script src="/js/login-signup.js"></script>
</body>

</html>