
*{
    margin: 0;
    padding: 0;
}
.cont1{
    height: 30vh;
}
.banner{
    height: 100%;
    display: grid;
    grid-template-columns: 10% auto 20%;
    gap: 20px;
    align-items: center;
    background-color:antiquewhite;
}
.banner svg{
    width: 100%;
}
.banner-info h2{
    position: relative;
    bottom: 50px;
    font-size: 2rem;
}
.banner-info p{
    position: relative;
    bottom: 40px;
    font-size: 1.7rem;
}
.banner-info button{
    width:10rem;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #0056b3;
    color: #fff;
}
/* Styles for the profile section */
.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.profile-picture {
    margin-right: 20px;
}

.profile-picture img {
    width: 150px;
    /* Adjust size as needed */
    height: 150px;
    /* Adjust size as needed */
    border-radius: 50%;
}

.user-details {
    text-align: center;
}

.user-details h2 {
    margin-bottom: 10px;
}

.user-details p {
    margin-bottom: 10px;
}

#verify-email-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#verify-email-btn:hover {
    background-color: #0056b3;
}

/* Styles for the saved pages container */
.saved-pages-container {
    height: auto;
    width: 100%;
    /* background-color: antiquewhite; */
   
}
.saved-pages{
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.saved-page {
    height: 30vh;
    width: 30%;
    background-image: url('varanasi.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 20px;
    border: none;
}
.saved-page h3{
    position: relative;
    top: 3px;
    left: 10px;
}
