*{
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.container{
    height: 100vh;
}
.comp{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: beige;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.card{
    height: auto;
    width: 46%;
    background-color: aliceblue;
    border: 5px black solid;
    border-radius: 30px;
}
.heading{
    width: 90%;
    padding: 10px 30px;
    font-weight: 500;
}
.card-content{
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.3rem;
    position: relative;
    top: -100px; /* initial position, text starts from above */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; /* initially invisible */
    animation: slideIn 2s forwards; /* animation duration and direction */
}
@keyframes slideIn {
    0% {
      top: -100px;
      opacity: 0;
    }
    100% {
      top: 100%;
      opacity: 1;
    }
}
#act-head{
    color: grey;
}
#day-no{
    font-style: bold;
    font-weight: 700;
}
.card-content button{
    height: 2.5rem;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}
