* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/*continer1*/
/* .container1 {
} */

.banner {
    height: 110vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding: 0 50px;
    background-image: url("/images/banner2.jpg");
    background-size: cover;
    color: white;
}

.banner_title{
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
}
.banner_title hr{
    width: 30px;
}

.banner_info{
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    width: 40%;
}

.banner_info h3{
    font-size: 3rem;
}
.banner_buttons button{
    width: 15rem;
    height: 5vh;
    border-radius:10px ;
    border: none;
}

/*container2*/
.container2 {
    width: 100%;
    height: 50vh;
    background-image: url("/images/shifaaz-shamoon-Rl9l9mL6Pvs-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.container2 h4 {
    color: white;
    font-size: 2.3rem;
}

button {
    background-color: #FF4A52;
    height: 3rem;
    width: 14rem;
    padding: 5px;
    border-radius: 5px;
    color: aliceblue;
    border: none;
    font-size: 1.3rem;
}

/*continer3*/

.services {
    height: 67vh;
    background: #FAF9F6;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.services-heading {
    text-align: center;
    color: #4682A9  ;
}

.services-heading h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.services-heading p {
    font-size: 1.3rem;
    color: #749BC2;

}

.services-cards {
    height: 100%;
    width: 100%;
    gap: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.service-card {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.service-card svg {
    width: 15rem;
}

.service-card-info {
    height: 100%;
    width: 100%;
    text-align: center;
}

.service-card-info h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #4682A9  ;
}

.service-card-info p {
    font-size: 1rem;
    color: #749BC2;

}


/*container 3*/
.fam-places {
    height: 140vh;
    max-height: auto;
    padding: 50px;
    background-color: #F6F4EB;
}

.fam-places-heading {
    height: 15%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    color: #4682A9  ;

}

.fam-places-heading h3 {
    font-size: 2.5rem;
}

.fam-places-heading p {
    font-size: 1.3rem;
    color: #749BC2;

}

.fam-places-cards {
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.fam-places-card {
    height: 50vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    /* border: black solid 5px; */
    border-radius: 30px;
    background-color: aliceblue;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transition */
}
.fam-places-card:hover {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2); /* Heavier box shadow on hover */
    transform: translateY(-10px); /* Lift-up effect */}



.fam-places-card img {
    width: 100%;
    height: 80%;
    border-radius: 30px;
}

.fam-places-card-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fam-places-card-info h5 {
    font-size: 1.5rem;
}

.fam-places-card-info p {
    font-size: 1rem;
}

.fam-places-card-info-review {
    display: flex;
    flex-direction: row;
    margin-top: auto;
}


@media(min-width:1440px) and ( max-width:1920px) {
    .services{
        height: 60vh;
    }
    .service-card-info h4 {
        font-size: 1.8rem;
    }
    .service-card-info p {
        font-size: 1.2rem;    
    }
}