* {
    font-family: Arial, sans-serif;
    ;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
    color: #333;
}


.banner_img {
    background: url(/public/images/ibrahim-asad-ZEfzyduAyJU-unsplash.jpg)no-repeat;
    height: 50vh;
    background-size: 110% 160%;
    background-position: center;
    margin: 0;
    padding: 1rem;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav #Home {
    margin-right: auto;
    text-decoration: none;
    color: white;
}

.nav a {
    text-decoration: none;
    color: white;
}

.banner_img p {
    color: white;
}

#date {
    display: inline-block;
    font-size: 8rem;
    font-weight: 500;
    padding-bottom: 3rem;
}

#month {
    display: inline;
    font-size: 3rem;
    font-weight: 500;

}

.nav2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    height: 6vh;
    margin: 0;
    padding: 3px;
    box-shadow: 5px 3px 3px #606060;
    background-color: #FF4A52;
}

.nav2 a {
    text-decoration: underline;
    text-decoration-color: #FF4A52;
    color: white;
    text-decoration-thickness: 0em;
    text-underline-offset: 0em;
}

.nav2 a:hover {
    color: #ffffff;
    /* Underline with animation */
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 0.4em;
    transition: text-decoration 0.5s;
}

a:visited {
    color: white;
}


.container2 {
    /* height: 180vh; */
    max-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

/* restaraunts*/
.restaraunts {
    background-color: antiquewhite;
    height: 100%;
    max-height: auto;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    /* margin: 50px auto; */
    padding: 20px 0;
}

.restaraunt-card {
    /* height: 35vh; */
    width: 70%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
}

.restaraunt-card:hover {
    transform: translateY(-5px);
}

.restaraunt-card img {
    width: 20%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0;
}

.restaraunt-card-content {
    width: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;

}

.restaraunt-card-content h3 {
    font-size: 1.2rem;
}

.restaraunt-description {
    margin: 0;
}

.restaraunt-rating {
    color: #f8b700;
    margin-top: auto;
}

.restaraunt-reviews {
    color: #888;
}

.restaraunt-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
    padding: 20px;
    margin-top: auto;
    margin-left: auto;

}

/*container3*/
.container3 {
    height: 100%;
    background-color: antiquewhite;
    display: block;
}

.activity {
    /* height: 100%; */
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    background-color: antiquewhite;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.activity-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 100%;
    padding: 20px 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.activity-card {
    /* height: 60vh; */
    width: 40%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.activity-card:hover {
    transform: translateY(-5px);
}

.activity-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.activity-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
}

.avtivity-card-content h3 {
    font-size: 1.2rem;
}


.activity-price {
    height: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
    padding: 0 15px;
    margin-top: auto;
}

/* container4*/
.container4 {
    /* height: 180vh; */
    max-height: auto;
    background-color: antiquewhite;
    display: block;
}

/* accomodation*/
.accomodation {
    background-color: antiquewhite;
    height: 100%;
    gap: 30px;
    max-height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* margin: 50px auto; */
    padding: 20px 0;
    flex-direction: column;
}

.accomodation-card {
    /* height: 35vh; */
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
}

.accomodation-card:hover {
    transform: translateY(-5px);
}

.accomodation-card img {
    width: 30%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0;
}

.accomodation-card-content {
    width: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;

}

.accomodation-card-content h3 {
    font-size: 1.2rem;
}

.accomodation-description {
    margin: 0;
}

.accomodation-rating {
    color: #f8b700;
    margin-top: auto;
}

.accomodation {
    color: #888;
}

.accomodation-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
    padding: 20px;
    margin-top: auto;
    margin-left: auto;

}

/* Weather */
.container5 {
    /* height: 180vh; */
    max-height: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
    justify-content: center;
    flex-direction: column;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    color: black;
    padding: 20px 0;
}

.weather {
    background-color: antiquewhite;
    height: fit-content;
    max-height: auto;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    gap: 20px;

    p {
        text-align: center;
        font-size: 1.5rem;
        color: #99B080;

        .desc-image {
            width: 100px;
            height: 100px;
        }
    }

    .card {
        padding: 10px;
        gap: 10px;
        width: 80%;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s ease;
        display: flex;
        flex-direction: column;
        align-items: self-start;
        margin-left: 20px;

        /* Align image to top right */
        img {
            align-self: flex-end;
            width: 80px;
            height: 80px;
            position: absolute;
        }
    }

    .forecasts {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;

        .forecast-card {
            /* height: 35vh; */
            /* text-align: left; */
            padding: 10px;
            gap: 10px;
            width: fit-content;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: transform 0.3s ease;
            display: flex;
            flex-direction: column;
            align-items: self-start;
        }
    }
}